.error_message {
  background-color: red;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px;
  font-weight: 500;
}
.signup_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.signup_content {
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left {
  width: 60%;
  height: 100%;
}
.right {
  width: 40%;
  height: 100%;
  background-color: #6c63ff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.form_input input {
  padding: 4px;
  border: none;
  outline: none;
  width: 100%;
}
.form_label {
  color: white;
  margin-bottom: 5px;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.submit-btn {
  margin-top: 1rem;
  background-color: white;
  color: #000000;
  font-weight: 500;
  bottom: none;
  border: none;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
/* .submit-btn:hover {
  background-color: #6c63ff;
  border: 3px solid white;
  color: white;
} */
@media screen and (max-width: 768px) {
  .signup_content {
    width: 99%;
  }
  .left,
  .right {
    width: 100%;
  }
}
